@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
    box-sizing: border-box;
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Josefin Sans", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}

div#box{
    height: 100%;
    width: 100%;
    overflow-y: auto;

    letter-spacing: 1px;
    line-height: 25px;
    font-family: sans-serif;
}
div#box div.banner-principal{
    width: 100%;
    height: 60vh;

    padding-top: 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/assets/main/banner6.webp");
    color: #FFF;

    background-size: cover;
    background-position: bottom;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
div#box div.content{
    /* width: 100%; */
    padding: 50px 10%;
    text-align: center;
}
div#box div.banner-end{
    /* width: 100%; */
    height: 50vh;
    /* padding-top: 8%; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/assets/main/banner4.png);
    background-size: contain;

    background-color: rgb(0 0 0 / 60%);

    display: flex;
    gap: 10px;

    padding: 20px;
}
div#box div.banner-end div#ubicacion-mapa{
    flex-basis: 70%;
}
div#box div.banner-end div#redes-sociales{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 15px;
}
div#box div.banner-end div#redes-sociales a{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div#imgTeam img {
    border-radius: 50%;
    width: 10%;
    margin-right: 50px;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate.pop {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.delay-1 {
    animation-delay: 0.6s;
}

.delay-2 {
    animation-delay: 0.7s;
}

.delay-3 {
    animation-delay: 0.8s;
}

.wrapper {
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);
}

div#box input[type=button] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div#box input[type=button]:hover {
    background-color: #45a049;
}

div#box .container {
    border-radius: 5px;
    background-color: #b3d0c6;
    padding: 20px;
    width: 100%;
    text-align: left;
}
div#box div.descripcion{
    text-align: center;
}
div#box div.content div.descripcion {
    padding: 0 0 50px;
    font-size: 20px;
}
div#box div.descripcion p{
    margin: 0;
}

/* Añadido por Sebas */
.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}

.wrapper .input_field {
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

.wrapper textarea {
    resize: none;
    height: 80px;
}

.wrapper .btn input[type="submit"] {
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #569a4d;
    color: #fcfbf7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

#error_message {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

/***********************************/

.form-Contact{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.img-contact{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.img-contact img{

    width: 70%;
}